[submodule "todo_list_app"]
	path = todo_list_app
	url = git@github.com:aleyipsoftwire/DevOps-Course-Starter.git
[submodule "workshops/m7"]
	path = workshops/m7
	url = git@github.com:aleyipsoftwire/DevOps-Workshop-07.git
